
<section class=" background-radial-gradient overflow-hidden" >
    
    <div class="container py-5 h-100">
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        </div>  

        <div class="row d-flex justify-content-center align-items-center h-100">
          <div >
            <div class="card bg-glass" style="border-radius: 2rem;">
                <div class="card1" style="width: 28rem;">
                    <div class="card-body">
                      <h5 class="card-title">Post Announcement</h5>
                      <h6 class="card-subtitle mb-2 text-muted">“There is no exercise better for the heart than reaching down and lifting people up.”</h6>
                        <p>Kindly, we inform you that you must enter your contact details and describe your post.</p>
                    </div>
                     
                </div>
                <form class="was-validated">
                      <!-- name labels -->
                    <div class="mb-3">
                      <label for="NAME1" class="form-label"></label>
                      <input type="text" class="form-control" id="NAME1" placeholder="a name is required" required>
               
                      <div class="invalid-feedback">
                        Please enter your last name in the label.
                      </div>
                      <label for="NAME2" class="form-label"></label>
                      <input type="text" class="form-control" id="NAME2" placeholder="a name is required" required>
               
                      <div class="invalid-feedback">
                        Please enter your first name in the label.
                      </div>
                      
                      
                    </div>
                    <!-- select Request-->
                    <div class="mb-3">
                      <select class="form-select" required aria-label="select example">
                        <option value="">Select your Announcement title</option>
                        <option value="1">Medicament</option>
                        <option value="2">Medical_Supplies</option>
                      </select>
                      <label for="NAME3" class="form-label"></label>
                      <input type="text" class="form-control" id="NAME3" placeholder="a product name is required" required>
               
                      <div class="invalid-feedback">
                        Please enter a product name in the label.
                      </div>
                      <input type="file" class="form-control" aria-label="file example" required>
                      <div class="invalid-feedback">invalid prescreption file</div>
                      <label for="validationTextarea" class="form-label"></label>
                      <textarea class="form-control" id="validationTextarea" placeholder="Required a detailed product description" required></textarea>
                      <div class="invalid-feedback">
                        Please enter a product description in the textarea.
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="a price is required">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">$</a>
                            <a class="dropdown-item" href="#">€</a>
                            <a class="dropdown-item" href="#">DT</a>
                           
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="mb-3">
                      <label for="phone"></label>
                      <input type="tel" id="phone" name="phone" placeholder="12-345-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                      <div class="invalid-feedback">Please enter your contact.</div>   
                    </div>   
                    <div class="mb-3">
                      <button class="btn custom-btn" type="submit" disabled>Submit</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
    </div>


</section>
