#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('/assets/hope.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}
.mask{
  height: 100vh;
}
.product {

  background-color:  #ead5d5;
  height: 15rem;
}
.btn{
  width: 15rem;
  border-radius: 2rem 2rem 2rem 2rem;
}

footer{
  position: fixed;
bottom: 0;
width: 100%;
background-color: #f8f9fa;
padding: 20px;
}
