<body>
    <div class="dd" >
      <h1 class="about-us">About Us</h1>
  <div class="container">
   
     <div class="row">
      <div class="col-md-4">
         <div class="main">
          <div class="service">
           <h4>Our vision</h4>
           <p>
            A world where our community<br> thrives.</p>
          </div>
          <div class="shadowOne"> </div>
          <div class="shadowTwo"> </div>
         </div>
      </div>
     
<div class ="col-md-4"> 
  <div class="main">
    <div class="service">
     <h4>Our mission</h4>
     <p>
      To support disabled and sick people <br> by providing prosthetic and
       medicine.
  </p>
    </div>
    <div class="shadowOne"> </div>
    <div class="shadowTwo"> </div>
   </div>

</div>
<div class="col-md-4"> 
  <div class="main">
    <div class="service">
     <h4>Our values</h4>
     <p>
      Commitment to serve.<br>
  We are consciously committed.</p>
    </div>
    <div class="shadowOne"> </div>
    <div class="shadowTwo"> </div>
   </div>
  </div>    
  </div>
</div>
    </div>
   
</body>

