<div class="products-title">
  <h1>Products</h1></div>
    <div class="row">
      <div class="col-md-6">
        <div class="card ">
          <img src="assets\pex5.jpg" class="card-img" alt="Stony Beach"/>
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <a class="btn btn-outline-light btn-block btn-lg m-2"  style="color:black; border-color: black;border-width: 2px;"  href="/medical_supplies"
            target="_blank" role="button">Medical Supplies</a>
          </div>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="assets\medicament.jpg" class="card-img" alt="Stony Beach"/>
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <a class="btn btn-outline-light btn-block btn-lg m-2" style="color:black; border-color: black;border-width: 2px;" href="/medicament"
            target="_blank" role="button">Medicaments</a>
          </div>
        </div>
      </div>
    </div>

