
.column1{
    background-color: #F5ECEC;
    width: 23%;
    height: 175px;
    border-radius: 7%;
    display: inline-block;
    border: 10px double #F5ECEC;
   
    /*flex-basis: 25%;*/
  flex-basis: calc(50% - 10px);
  margin-left: 105px;
  margin-bottom: 16px;
   
  }
  .container1{
    text-align: center;
  }
  .row1{
    white-space: nowrap;
    background-color:#F5ECEC;
    /*position:absolute;
     bottom:0;
     width:100%;*/
     
  
  }
  .container1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
  
  }
  #ab{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
  }
  .col{
    background-color: #F5ECEC;
    ;
    width: 23%;
    height: 175px;
    border-radius: 5%;
    display: inline-block;
    flex-basis: calc(50% - 10px);
  margin-left: 250px;
  margin-bottom: 16px;
  }
  
  
 footer {
    position:absolute; 
    bottom: 0;
    width: 100%;
    height: 50px; 
    background-color:#F5ECEC; 
    flex-shrink: 0;
  }