
    <div class="row1">
        <h2 id="ab" style="text-align:center">CONTACT US</h2>
        <div   class="col">
            <div  class="container1">
              <h2> Contact Info </h2>
              <br>
              <ul style="list-style-type: none">
                <li> <i class="fa fa-phone"></i> <a>29 372 217</a></li>
                <br>
                <li> <i class="fa fa-envelope"></i> <a> Hope@gmail.com</a></li>
              </ul> 
            </div> 
        </div>
       
        <div  class="col">
            <div class="container1">
              <h2>Follow Us </h2>
              <ul style="list-style-type: none">
                <li> <i class="fa fa-facebook-official "></i> <a>Facebook</a></li>
                <br>
                <li> <i class="fa fa-linkedin-square "></i><a>Linkedin</a> </li>
                <br>
                <li> <i class="fa fa-instagram"></i><a>Instagram</a></li>
              </ul>  
            </div>
           
        </div>
       
    </div>



